

.figure.snip1278 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 600px;
  width: 100%;
  background: #1a1a1a;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

}
.figure.snip1278 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.figure.snip1278 .image {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
}
.figure.snip1278 .image:after {

   background-image: 
   linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  ); 
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;

}
.figure.snip1278 .images {
  max-width: 100%;
  vertical-align: top;
}
.figure.snip1278 .figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 25px;
}
.figure.snip1278 .H4,
.figure.snip1278 .pi,
.figure.snip1278 .price {
  margin: 0 0 8px;
}
.figure.snip1278 .H4 {
  position: absolute;
  width: 50%;
  top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
}
.figure.snip1278 .pi {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.6em;
}
.figure.snip1278 .rating {
  position: absolute;
  width: 50%;
  line-height: 44px;
  color: #ffffff;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.figure.snip1278 .price {
  color: #ffffff;
  font-size: 1.3em;
  opacity: 0.8;
}
.figure.snip1278 .price .sa {
  display: inline-block;
  padding: 0 10px 0 0;
  font-size: 0.85em;
  color: #f33b12;
}
.figure.snip1278 .add-to-cart {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  width: 50%;
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}


.figure.snip1278:hover .images,
.figure.snip1278.hover .images {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.groupbanner-hover {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}

.groupbanner-hover:hover .images:not(.lazyload) {
  -ms-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.title {
  margin-top: 20px;
}

.groupbanner-hover .images:not(.lazyload) {
  transition: opacity 0.3s,
    transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: opacity 0.3s,
    transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: opacity 0.3s,
    transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.lazyloaded {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}
.name{
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

.add-to-cart {
  display: inline-block;
  min-height: 30px;
  min-width: 142px;
  color: #fff;
  background-color: #ee2d7a;
  border: 1px solid #ee2d7a;
  border-radius: 4px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
 .add-to-cart:hover{
  color:black;
}
 .add-to-cart::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
  z-index: -1;
  transition:0.3s ease all;
  transform: scale(0,1);

  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
 .add-to-cart:hover::after {
  transform: scale(1,1);
  transform-origin: top left;
  color: red;
}
